
/*--------------------------------*\
    $FUNCTION
\*--------------------------------*/

$fs : (
  big: 24px,
  normal: 16px,
  small: 14px,
  x-small: 12px,
);

$layers:(
dafult: 0,
first: 1,
back: 2
);